@-webkit-keyframes animate_background1 {
	  0% {
	    background-position: 0 -30px;
	  }
    50% {
        background-position: 100 -200px;
    }
	  100% {
	    background-position: 200px -30px;
	  }	}
	@-moz-keyframes animate_background1 {
	  0% {
	    background-position: 0 -30px;
	  }
	  100% {
	    background-position: 257px -30px;
	  }
	}
	@-ms-keyframes animate_background1 {
	  0% {
	    background-position: 0 -30px;
	  }
	  100% {
	    background-position: 257px -30px;
	  }
	}
	@-o-keyframes animate_background1 {
	  0% {
	    background-position: 0 -30px;
	  }
	  100% {
	    background-position: 257px -30px;
	  }
	}
	@keyframes animate_background1 {
	  0% {
	    background-position: 0 -30px;
	  }
	  100% {
	    background-position: 257px -30px;
  }
	}
	 
	.background1 {
	    position: fixed;
	    z-index: 2;
	    margin-top: 0%;
	    padding: 0px 0px 0px 0px;
	    width: 100% !important;
	    max-width: 100% !important;
	    min-width: 100% !important;
	    height: 100% !important;
	    max-height: 100% !important;
	    min-height: 100% !important;
	    background: url("images/cloud-1.png");
	    background-repeat: repeat-x;
	    -webkit-animation: animate_background1 40s linear;
	    -webkit-animation-iteration-count: infinite;
	    -moz-animation: animate_background1 40s linear;
	    -moz-animation-iteration-count: infinite;
	    -ms-animation: animate_background1 40s linear;
	    -ms-animation-iteration-count: infinite;
	    -o-animation: animate_background1 40s linear;
	    -o-animation-iteration-count: infinite;
	    animation: animate_background1 40s linear;
	    animation-iteration-count: infinite;
	    opacity:0.4;
	    filter:alpha(opacity=80);
        pointer-events:none;
	} 
	@-webkit-keyframes animate_background2 {
	  0% {
	    background-position: 0 -50px;
	  }
	  100% {
	    background-position: 259px -50px;
	  }
	}
	@-moz-keyframes animate_background2 {
	  0% {
	    background-position: 0 -50px;
	  }
	  100% {
	    background-position: 259px -50px;
	  }
	}
	@-ms-keyframes animate_background2 {
	  0% {
	    background-position: 0 -50px;
	  }
	  100% {
	    background-position: 259px -50px;
	  }
	}
	@-o-keyframes animate_background2 {
	  0% {
	    background-position: 0 -50px;
	  }
	  100% {
	    background-position: 259px -50px;
	  }
}
	@keyframes animate_background2 {
	  0% {
	    background-position: 0 -50px;
	  }
	  100% {
	    background-position: 259px -50px;
	  }
	}
	 
	.background2 {
	    position: fixed;
	    z-index: 3;
	    margin: 0px auto 0px auto !important;
	    padding: 0px 0px 0px 0px;
	    width: 100% !important;
	    max-width: 100% !important;
	    min-width: 100% !important;
	    height: 100% !important;
	    max-height: 100% !important;
	    min-height: 100% !important;
	    background: url("images/cloud-2.png");
	    background-repeat: repeat-x;
	    -webkit-animation: animate_background2 20s linear;
	    -webkit-animation-iteration-count: infinite;
	    -moz-animation: animate_background2 20s linear;
	    -moz-animation-iteration-count: infinite;
	    -ms-animation: animate_background2 20s linear;
	    -ms-animation-iteration-count: infinite;
	    -o-animation: animate_background2 20s linear;
	    -o-animation-iteration-count: infinite;
	    animation: animate_background2 20s linear;
	    animation-iteration-count: infinite;
	    opacity:0.4;
	    filter:alpha(opacity=60);
        pointer-events:none;
	}

body {

    margin: 0%;

}

.background_container {
    width: 100%;
    height: 100%;
    position: relative;
    top: 0%;
    left: 0%;
    background-size: 100% 100%;
}
.background_image {
    width: 100%;
    height: 768px;
}

.cloud_container {
    /*background-color: blue;*/
    height: 190px;
    top: 0%;
    left: 0%;
    position: absolute;
}

.tower_card_container {
    width: 100%;
    height: 69%;
    top: 30%;
    left: 0%;
    /*border: 2px solid pink;*/
    position: absolute;

}

.tower_container_wrapper {
    width: 100%;
    height: 69%;
    top: 0%;
    left: 0%;
    position: absolute;
    /*border: 2px solid yellow;*/
}

#tower_container1 {
    position: absolute;
    top: 0%;
    left: 12%;
    width: 20%;
    height: 99%;
    /*border: 2px solid black;*/

}
#tower_container1 img {
    position: absolute;
}

#tower_container1 #t_build_1 {
    bottom: 0;
    height: 35%;
    left: 0;
    top: 79%;
    width: 100%;

}
#tower_container1 #t_build_2{
    bottom: 19%;
    height: 17%;
    left: 34%;
    width: 32%;
    /*display: none;*/

}
#tower_container1 #t_build_3{
    bottom: 34%;
    height: 17%;
    left: 35%;
    width: 30%;
    /*display: none;*/
}
#tower_container1 #t_build_4{
    bottom: 49%;
    height: 17%;
    left: 36%;
    width: 28%;
    /*display: none;*/
}
/*#tower_container1 #t_build_5{*/
    /*bottom: 71%;*/
    /*height: 15%;*/
    /*left: 38%;*/
    /*width: 24%;*/

    /*display: none;*/
/*}*/
#tower_container1 #t_build_6{
    bottom: 64%;
    height: 15%;
    left: 37%;
    width: 26%;
    display: none;
}
#tower_container1 #t_build_7{
    bottom: 77%;
    height: 15%;
    left: 38%;
    width: 24%;
    display: none;
}
#tower_container1 #t_build_8{
    bottom: 90%;
    display: none;
    height: 15%;
    left: 39%;
    width: 22%;
}
#tower_container1 #t_build_9{
    bottom: 102%;
    display: none;
    height: 15%;
    left: 38%;
    width: 24%;
}
#tower_container1 #t_build_10 {
    bottom: 63%;
    display: block;
    height: 17%;
    left: 34%;
    width: 31%;

}
#tower_increase
{
    display: none;
}
#tower_health{
   display: none;
}


#tower_container2 {
    position: absolute;
    /*top: 0%;*/
    bottom: 0;
    left: 70%;
    width: 20%;
    height: 99%;
    /*border: 2px solid black;*/
}

#tower_container2 img {
    position: absolute;
}

#tower_container2 #t_block_1 {
    bottom: 0;
    height: 35%;
    left: 0;
    top: 79%;
    width: 100%;
}

#tower_container2 #t_block_2 {
    bottom: 19%;
    height: 17%;
    left: 34%;
    width: 32%;}

#tower_container2 #t_block_3 {
    bottom: 33%;
    height: 18%;
    left: 35%;
    width: 30%;
}

#tower_container2 #t_block_4 {
    bottom: 49%;
    height: 17%;
    left: 36%;
    width: 28%;
}

/*#tower_container2 #t_block_5 {*/
    /*bottom: 72%;*/
    /*height: 15%;*/
    /*left: 37%;*/
    /*width: 26%;*/
/*}*/
#tower_container2 #t_block_6{
    bottom: 63%;
    height: 17%;
    left: 34%;
    width: 31%;

}
#tower1 {
    width: 100%;
    height: 100%;
}
/*#tower3 {*/
    /*/width: 100%;*/
    /*height: 100%;*/
    /*position: absolute;*/
    /*bottom: 0px;*/
/*}*/
#tower_health{
    /*display: none;*/
}

#tower2{
    height: 100%;
    width: 100%;
}
.tower2-replace{
    bottom: 0%;
    position: absolute;
}

.card_slot {
    top: 64%;
    left: 25%;
    width: 52%;
    height: 33%;
    position: absolute;
}

.card_slot1 {
    /*border: 2px solid green;*/
    width: 19%;
    height: 99%;
    top: 0%;
    left: 0%;
    float: left;
}

.card_slot2 {
    top: 0%;
    left: 20%;
    width: 19%;
    height: 97%;
    position: absolute;
    /*border: 3px solid blue;*/
}

.card_slot3 {
    top: 0%;
    left: 40%;
    width: 20%;
    height: 97%;
    position: absolute;
    /*border: 3px solid blue;*/
}

.card_slot4 {
    top: 0%;
    left: 60%;
    width: 19%;
    height: 97%;
    position: absolute;
    /*border: 3px solid blue;*/
}

.card_slot5 {
    top: 0%;
    left: 80%;
    width: 19%;
    height: 97%;
    position: absolute;
    /*border: 3px solid blue;*/
}

.cards img {
    width: 100%;
    height: 100%;
}

.resource {
    top: 0%;
    left: 0%;
    width: 12%;
    height: 15%;
    position: absolute;
    border: 3px solid yellow;
    color: white;
}

.resource1 {
    top: 0%;
    left: 0%;
    width: 100%;
    height: 33%;
    border: 2px solid red;
    position: absolute;
}
.resource_name{
    border: 1px solid yellow;
    width: 50%;
    height: 100%;
}
.resource_score{
    border: 1px solid #FFC0CB;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 47%;
    color: white;
}
.resource2 {
    top: 33%;
    left: 0%;
    width: 100%;
    height: 33%;
    border: 2px solid blue;
    position: absolute;
}

.resource3 {
    top: 66%;
    left: 0%;
    width: 100%;
    height: 33%;
    border: 2px solid green;
    position: absolute;
}

.parallax-port {
    position: absolute;
    top: 50%;
    bottom: 80px;
    left: 20%;
    right: 80px;
    /*background: #eeeeee;*/
    overflow: hidden;
    /* border-radius: 12px; */
    /* -webkit-border-radius: 12px; */
    /* -moz-border-radius: 12px; */
    width: 50%;
    height: 43%;
}

.parallax-layer {
    position: absolute;
}

.site_wrap {
    margin-left: 80px;
}
/*.question_panel {*/
/*top: 20%;*/
/*left: 30%;*/
/*width: 37%;*/
/*height: 40%;*/
/*border: 2px solid red;*/
/*position: absolute;*/
/*}*/

/*.question {*/
/*width: 99%;*/
/*height: 40%;*/
/*top: 0%;*/
/*border: 2px solid blue;*/
/*}*/